/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.main-container {
    width: 90%;
    max-width: 1200px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Section Titles */
.section-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    font-weight: bold;
}

/* Form and Added Steps (Flexbox for side-by-side) */
.form-and-steps {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

/* Form Container */
.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    width: 40%;
}

.modern-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 12px 0;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

.btn-primary {
    background-color: #4caf50;
    color: white;
    border: none;
}

.btn-secondary {
    background-color: #f1f1f1;
    color: #333;
    border: none;
}

button:hover {
    opacity: 0.9;
}

/* Tables */
.table-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    white-space: nowrap;
}

td {
    background-color: #f9f9f9;
}

thead {
    background-color: #4caf50;
    color: white;
}

/* Table Next to Form */
.form-and-steps .table-container {
    width: 55%;
}

/* API Table Under Both */
.api-steps-table {
    margin-top: 40px;
}

/* Responsive */
@media (max-width: 768px) {
    .form-and-steps {
        flex-direction: column;
    }

    .form-container, .table-container {
        width: 100%;
    }
}

.status-true {
    color: green; /* Onay simgesi için yeşil */
}

.status-false {
    color: red; /* Red simgesi için kırmızı */
}

.fas {
    font-size: 20px; /* İkon boyutu */
    color: black; /* İkon rengi */
}

.fas:hover {
    color: black; /* Hover durumu için renk değişimi */
}
